
.video-container {
  background-color: rgba(12, 78, 178, 1);
  color:#E6E6E6;
  padding-top:110px;
  overflow-y:auto;
}

.card {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding:5px;
  margin: 10px;
  max-width: 350px;
  line-height: 1.5em;
}

.card-header {
  color: #0C4EB2;
  cursor: pointer;
}

.card-container {
  padding: 13px;
  justify-content: center;
  text-align: center;
}

.card-text {
  color: dimgrey;
  padding-bottom: 20px;
}

.blue-jumbo {
  background-color: rgba(12, 78, 178, 1);
  justify-content: center;
  text-align: center;
  padding:15px;
  color: white;
  overflow:hidden;
}

.extra-padding-top {
  margin-top: 55px;
}
