$backgroundColor: rgba(12, 78, 178, 1);
$header-links-default: #f1f1f1;


.header-bg {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 10px;
  //min-width: 100%;
  background-color: $backgroundColor;

  font-family: "Roboto",sans-serif;
  //z-index:20;
  //position:absolute;
  z-index: 100;
}

.header-text {
  font-size: 30px;
  font-weight: 700;
  color: #E6E6E6;
  padding-right: 10px;
}


.header-link {
  color:$header-links-default;
  //background-color: transparent

  padding-top: 8px;
  text-decoration: none;
  text-underline-color:rgba(0,0,0,0);
  opacity: .8;
  font-size: 18px;
  padding-left: 17px;
  padding-right: 17px;
  font-weight: 400;
}

@media screen and (max-width: 480px) {

  .header-text {
    font-size: 17px;
  }

  .header-link {
    padding: 2px;
  }

}

.header-link:hover {
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.login-bar-floating {
  position: absolute;
  right: 10px;
  //top:-15px;
  //z-index:999;
  padding: 5px;
  color: $header-links-default;
  font-size: 11px;
  font-weight: 200;
  //position: absolute;
  //right:50px;
  //float: right;
  background-color: rgba(12, 78, 178, 1);
  border: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 10px;

}

.head_menu {
  width: 400px;
}

.full-header {
  position:absolute;
  width: 100%;
  z-index: 30;
}

.other {
  position: relative;
  z-index: 2;
}

.active-header-link {
	font-weight: 600;

}

