.login-bar {
  padding: 7px;
  padding-top:20px;
  top:3px;
  border-radius: 7px;

}

.login-bar input {
  font-size: 14px;
  margin-top: 25px;
  padding:3px;
  border-radius:6px;
}

.register-text {
  cursor: pointer;
  text-decoration: underline;
  color: white;
}

.white-text {
  color: white;
}

.feedback-text {
  color:white;
  text-align:center;
  padding-top:5px;


}

.welcome-text {
  color:white;
  text-align:center;
  padding-top:5px;
}

