.login-bar {
    padding: 3px;
    padding-top:18px;
    position: absolute;
    left: 10px;    
    width: 90%;
}

.register-text {
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

.white-text {
    color: white;
    padding-right: 10px;
}

.feedback-text {
    color:white;    
    position: absolute;
    left: 10px;
}

.welcome-text {
    color:white;
    text-align:center;
    padding-top:5px;
}

.blue-bg {
    background-color: blue;
}

.login-panel {
    height: 43px;
    color: white;
    background-color: rgba(12, 78, 178, 1);
    z-index: 1;
    overflow-y: hidden;
}

.login-panel md-input-container{
    display: -webkit-box !important;
}

.login_md label{
    color: #d6d1d1 !important;
    font-size: 14px;
    padding-right: 5px;
}

.login-panel input{
    border: 1px solid #d6d1d1 !important;
    height: 20px;
    margin-top: -3px;
    border-radius: 2px;
}

.login-panel button{
    height: 28px;
    margin-top: -3px;
    margin-left: 15px;
    min-height: 22px;
    width: 80px !important; 
    min-width: 80px;
    width: 80px;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.44) !important;
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border: none;
}

.login-panel button span{
    position: absolute;
    top: -2px;
    left: 15px;
}

.login-panel>form>div {
    height: 20px !important;
}

.login-panel md-input-container .md-input{
    color: white !important;
}

@media only screen and (max-width: 900px) {
    .login-panel {
        height: 80px;
    }

    .login_md {
        position: absolute;
        top: 40px;
    }

    .login_md.pwd{
        left: 340px;
    }

    .login_md.email{
        left: -5px;    
    }
}   

@media only screen and (max-width: 680px) {
    .login_md.pwd{
        left: -5px;
        top: 80px;
    }

    .login-panel {
        height: 120px;
    }

    .feedback-text button{
        top: 20px;
        left: -15px;        
    }
}