<section class="card login">
  <form name="myform" ng-submit="login()"
        novalidate>

    <div class="textintro">
      <h1>Hi there!</h1>

      <p> register for an account, and the program
        will read your soul. Then login to see the information from your reading.</p>

      <p class="message" ng-show="message">{{ message }}</p>
    </div>

    <fieldset>
      <input type="email" name="email" placeholder="Email"
             ng-model="user.email" ng-required="true">

      <p class="error validation-error"
         ng-show="myform.email.$invalid && myform.email.$touched">Please enter a valid email address.</p>
      <input type="password" name="password" placeholder="Password"
             ng-model="user.password" ng-required="true">

      <p class="error validation-error"
         ng-show="myform.password.$invalid && myform.email.$touched">Password is required.</p>
    </fieldset>

    <button type="submit" class="btn"
            ng-disabled="myform.$invalid">Login
    </button>
    <p>or <a ng-href="#/register">register</a></p>

  </form>
</section>
