
.register-page input {
  font-size: 25px;
  width: 60%;
  ////position:absolute;
  //left:35%;

  //padding:5px;
  //border-radius:10px;
}

.register-labels {

}
.fieldset {

}

.center-register {
  text-align: center;
}

.register-header-text {
  color:white;
}

.register-page {
  padding-top:340px;
  padding-bottom:20px;
  padding-left:40px;
  padding-right:40px;
  background-color: rgba(12, 78, 178, 1);
  height: 100%;
  overflow-y: auto;

}

.email-privacy-text {
  max-width: 50%;
  font-size: 12px;
  margin-left:auto;
  margin-right:auto;
  padding-top:20px;
}

.register-message {
  padding-bottom: 20px;
}

.register-btn {
  margin-top: 30px;
  margin-bottom: 30px;
  padding:10px;
  border-radius:2px;
}

.input-label {
  //min-width: 50px;
}

.register-text-intro {
  color: rgba(12, 78, 178, 1);
  padding-left: 25px;
  padding-right: 25px;
}

.register-card {
  background-color: #ffffff;
}

.form-horizontal {

}

.ng-valid.ng-touched {
  border-width: 3px;
  border-color: green;
}

.ng-invalid.ng-touched {
  border-width: 3px;
  border-color: red;
}

.blurb {
  min-height: 200px;
  vertical-align: top;
}

.register-input {
  align-items: center;
}

.input-border {
  border-style: dashed;
  border-width: 1.5px;
  border-color: rgba(12, 78, 178, 1);
  font-color: rgba(12, 78, 178, 1);

}
