<div class="register-page">

  <div class="register-header-text">

  </div>

  <section class="register-card md-whitefrme-z1">
    <form name="myform"
          ng-submit="ctrl.register()" novalidate>

      <br>

      <div class="register-text-intro">
        <h1>Register</h1>

        <p>Please enter your information.

      </div>
      <md-content class="center-register">


        <md-input-container class="register-input">
          <label>Username</label>
          <span class=input-label></span><input type="text" name="username" class="md-whiteframe-z1"
                                                ng-model="ctrl.user.username" ng-required="true">

        </md-input-container>
          <p class="error validation-error register-input"
            ng-show="myform.username.$invalid && myform.username.$touched">Username is invalid.</p>

        <br>

        <md-input-container class="register-input">
          <label>Email</label>
          <span class=input-label></span><input type="email" name="email" class="md-whiteframe-z1"
                                                ng-model="ctrl.user.email" ng-required="true">
        </md-input-container>
        <p class="error validation-error register-input"
           ng-show="myform.email.$invalid && myform.email.$touched">Please enter a valid email address.</p>
        <br>

        <md-input-container class="register-input">
          <label>First Name</label>
          <input type="text" name="firstName" class="md-whiteframe-z1"
                 ng-model="ctrl.user.firstName" top="50px">
        </md-input-container>

        <p class="form-control error validationerror"
           ng-show="myform.firstname.$invalid && myform.firstname.$touched">Please enter your first name.</p>

        <br>

        <md-input-container class="register-input">
          <label>Last Name</label>
          <input type="text" name="lastName" class="md-whiteframe-z1"
                 ng-model="ctrl.user.lastName" top="150px">
        </md-input-container>


        <p class="error validationerror register-input" ng-show="myform.lastname.$invalid &&
        myform.lastname.$touched">Please enter your last name.</p>

        <br>

        <div class="email-privacy-text">
          (Your email address with not be displayed publicly or shared with third parties.)

        </div>

        <br>

        <md-input-container class="register-input">
          <label>Password</label>
          <input class="register-input md-whiteframe-z1" type="password" name="password"
                 ng-model="ctrl.pw" ng-required="true" ng-minlength="6">
        </md-input-container>

        <p class="error validation-error"
           ng-show="myform.password.$invalid && myform.password.$touched">Please enter a password with at least 6
          characters.</p>

        <br>

        <md-input-container class="register-input">
          <label>Confirm Password</label>
          <input class="confirm-password md-whiteframe-z1" type="password" name="confirm-password"
                 ng-model="ctrl.confirmPw">
        </md-input-container>

        <p class="error validation-error"
           ng-show="myform.password.$invalid && myform.password.$touched">Passwords do not match.
          characters.</p>

        <br>


        Account Type:
        <md-radio-group ng-model="ctrl.user.accountType">

          <md-radio-button value="Developer" class="md-primary">Developer</md-radio-button>
          <md-radio-button value="Recruiter" class="md-primary">Recruiter</md-radio-button>
          <md-radio-button value="Student" class="md-primary">Student</md-radio-button>

        </md-radio-group><br>

        <br>

        <md-input-container class="register-input">
          <label>Current Location:</label>

        <input type="text" name="currentLocation" placeholder=""
               ng-model="ctrl.user.currentLocation" ng-required="true" top="150px">
</md-input-container>
          <md-input-container class="register-input">
            <label>Favorite Programming Language:</label>

        <input type="text" name="favoriteLanguage" placeholder="" class="md-whiteframe-z1"
               ng-model="ctrl.user.favoriteLanguage" ng-required="true" top="150px">
</md-input-container>
            <md-input-container class="register-input">
              <label>About Me:</label>

        <textarea class="blurb" cols="25" rows="5" name="about" placeholder="blurb" class="md-whiteframe-z1"
               ng-model="ctrl.user.blurb" ng-required="false" ng-minlength="0"></textarea>
</md-input-container>

        <br>
        <!--<textarea class="longInput" cols="30" rows="10"></textarea>-->
        <br>

        Image:

        <md-input-container class="register-input">
        <input id="profileImgInput" type="file" name="ctrl.filename" ng-model="rawProfileImg" class="md-whiteframe-z1"
               accept="image/gif, image/jpeg, image/png" onchange='angular.element(this).scope().file_changed(this)'>

        </md-input-container>

        <!--<input id="f" type="file" name="ctrl.a" ng-model="ctrl.b"-->
               <!--accept="image/gif, image/jpeg, image/png" ng-change='ctrl.g'>-->


        <br>

        <div class="register-input">
        <img id="register-page-profile-image-preview"/>

        </div>

        <br>

        <hr>

        <h3>Social Profiles</h3>

        <md-input-container class="register-input">
          <label>Github</label>
          <span class=input-label></span><input type="text" name="github" class="md-whiteframe-z1"
                                                ng-model="ctrl.user.githubLink" ng-required="false">
        </md-input-container>

        <md-input-container class="register-input">
          <label>Twitter</label>
          <span class=input-label></span><input type="text" name="twitter" class="md-whiteframe-z1"
                                                ng-model="ctrl.user.twitterLink" ng-required="false">
        </md-input-container>

        <md-input-container class="register-input">
          <label>Linked in</label>
          <span class=input-label></span><input type="text" name="linkedInLink" class="md-whiteframe-z1"
                                                ng-model="ctrl.user.linkedInLink" ng-required="false">
        </md-input-container>

        <md-input-container class="register-input">
          <label>Facebook</label>
          <span class=input-label></span><input type="text" name="facebook-link" class="md-whiteframe-z1"
                                                ng-model="ctrl.user.facebookLink" ng-required="false">
        </md-input-container>

        <md-input-container class="register-input">
          <label>Personal Website</label>
          <span class=input-label></span><input type="text" name="personal-link" class="md-whiteframe-z1"
                                                ng-model="ctrl.user.personalLink" ng-required="false">
        </md-input-container>


        <!--<button type="submit" class="btn register-btn" ng-disabled="myform.$invalid">Register!</button>-->
        <md-button type="submit" class="md-raised" ng-disabled="myform.$invalid">Register!</md-button>


        <p class="register-message" ng-show="message">{{ message }}</p>

        <p><a ng-href="#/login">Already have an account?</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a ng-href="#/forgotPassword">Forgot your password?</a>
        </p>

      </md-content>


    </form>
  </section>


</div>
