<div class="register-page">

  <div class="register-header-text">

  </div>

  <section class="register-card md-whitefrme-z1">
    <form name="myform"
          ng-submit="ctrl.register()" novalidate>

      <br>

      <div class="register-text-intro">
        <h1>Register</h1>

        <p>Please enter your information.

      </div>
      <fieldset class="center-register">
        <input type="text" name="firstName" placeholder="First Name" class="md-whiteframe-z1"
               ng-model="ctrl.user.firstName" ng-required="true" top="50px">

        <p class="form-control error validationerror"
           ng-show="myform.firstname.$invalid && myform.firstname.$touched">Please enter your first name.</p>

        <br>
        <input type="text" name="lastName" placeholder="Last Name"
               ng-model="ctrl.user.lastName" ng-required="true" top="150px">

        <p class="error validationerror register-input" ng-show="myform.lastname.$invalid &&
        myform.lastname.$touched">Please enter your last name.</p>

        <br>
        <span class=input-label></span><input type="email" name="email" placeholder="Email"
                                              ng-model="ctrl.user.email" ng-required="true">

        <p class="error validation-error register-input"
           ng-show="myform.email.$invalid && myform.email.$touched">Please enter a valid email address.</p>

        <br>

        <div class="email-privacy-text">
          (Your email address with not be displayed publicly or shared with third parties.)

        </div>

        <br>

        <input class="register-input" type="password" name="password" placeholder="Password"
               ng-model="ctrl.pw" ng-required="true" ng-minlength="6">

        <p class="error validation-error"
           ng-show="myform.password.$invalid && myform.password.$touched">Please enter a password with at least 6
          characters.</p>

        <br>

        Account Type:
        <md-radio-group ng-model="ctrl.user.accountType">

          <md-radio-button value="Developer" class="md-primary">Developer</md-radio-button>
          <md-radio-button value="Recruiter">Recruiter</md-radio-button>
          <md-radio-button value="Student">Student</md-radio-button>

        </md-radio-group><br>

        <br>

        Current Location:
        <input type="text" name="currentLocation" placeholder=""
               ng-model="ctrl.user.currentLocation" ng-required="true" top="150px">

        Favorite Programming Language:
        <input type="text" name="favoriteLanguage" placeholder=""
               ng-model="ctrl.user.favoriteLanguage" ng-required="true" top="150px">

        About Me:
        <textarea class="blurb" cols="25" rows="5" name="about" placeholder="blurb"
               ng-model="ctrl.user.blurb" ng-required="false" ng-minlength="0"></textarea>


        <br>
        <!--<textarea class="longInput" cols="30" rows="10"></textarea>-->
        <br>


        <button type="submit" class="btn register-btn" ng-disabled="myform.$invalid">Register!</button>

        <p class="register-message" ng-show="message">{{ message }}</p>

        <p><a ng-href="#/login">Already have an account?</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a ng-href="#/forgotPassword">Forgot your password?</a>
        </p>
      </fieldset>


    </form>
  </section>


</div>
