<div layout="vertical" layout-fill>

  <md-content layout-fill class="video-container">
    <div class="md-whiteframe-z1">
      <div class="blue-jumbo-about-us extra-padding-top">

        <h1>NG-NJ: An Angular Community in New Jersey</h1>

        <p class="smaller-width-header-text">
          We are a group of developers who are passionate about creating
          great web applications with Google's Angular Front-End Framework.</p>

      </div>
    </div>

    <div class="about-us-header">
      <h1>
        <div ng-show="!vm.profileEditMode">{{vm.profileDisplay.firstName | filter:propernamerizer}}{{" " | filter:propernamerizer}}{{vm.profileDisplay.lastName}}</div>
        <div ng-show="vm.profileEditMode">
          <input type='text' ng-model='vm.editProfile.firstName' ng-init='vm.editProfile.firstName=vm.profileDisplay.firstName'/>
          <input type=text ng-model='vm.editProfile.lastName' ng-init='vm.editProfile.lastName=vm.profileDisplay.lastName'/>
        </div>
      </h1>
    </div>
    <div>

      <div class="profile-card">
        <div>User: {{vm.profileDisplay.username}}</div>

        <br>
        <!--Name:-->
        <!--<div ng-show="!vm.profileEditMode">{{vm.profileDisplay.firstName}}{{" "}}{{vm.profileDisplay.lastName}}</div>-->
        <!--<div ng-show="vm.profileEditMode">-->
          <!--<input type='text' ng-model='vm.editProfile.firstName' ng-init='vm.editProfile.firstName=vm.profileDisplay.firstName'/>-->
          <!--<input type=text ng-model='vm.editProfile.lastName' ng-init='vm.editProfile.lastName=vm.profileDisplay.lastName'/>-->
        <!--</div>-->

        <!--<br>-->

        <div>
          Current Location:
          <span ng-show="!vm.profileEditMode"> {{vm.profileDisplay.currentLocation}}</span>
          <span ng-show="vm.profileEditMode">
          <input type=text ng-model='vm.editProfile.currentLocation' ng-init='vm.editProfile.currentLocation=vm.profileDisplay.currentLocation'/>
        </span>
        </div>


        <h1>{{vm.cheese}}</h1>
        <br>
        Account Type:
        <span ng-show="!vm.profileEditMode">{{vm.profileDisplay.accountType}}</span>
        <md-radio-group ng-show="vm.profileEditMode" ng-model="ctrl.user.accountType" ng-init='ctrl.user.accountType=vm.profileDisplay.accountType'>

          <md-radio-button value="Developer" class="md-primary">Developer</md-radio-button>
          <md-radio-button value="Recruiter" class="md-primary">Recruiter</md-radio-button>
          <md-radio-button value="Student" class="md-primary">Student</md-radio-button>

        </md-radio-group>
        <br>

        <br>

        <!--TODO - allow users to edit their profile image.-->
        <img ng-src='{{vm.profileImgSrc}}' class="profile-img"/>


        <br>
        <div ng-show="!vm.profileEditMode">Favorite Programming Language: {{vm.profileDisplay.favoriteLanguage}}</div>
        <div ng-show="vm.profileEditMode">
          <input type=text ng-model='vm.editProfile.favoriteLanguage' ng-init='vm.editProfile.favoriteLanguage=vm.profileDisplay.favoriteLanguage'/>
        </div>
        <br>

        <div> About me:
          <div>
            <div ng-show="!vm.profileEditMode" ng-bind="vm.profileDisplay.blurb"></div>
            <div ng-show="vm.profileEditMode">
              <input type=text ng-model='vm.editProfile.blurb' ng-init='vm.editProfile.blurb=vm.profileDisplay.blurb'/>
            </div>
            <br>

            <!--<h1>if {{vm.profileDisplay.authenticatedUid}}</h1>-->
            <!--<h1>df {{vm.profileDisplay.uid}}</h1>-->

            <br>
            <div ng-show='vm.profileDisplay.authenticatedUid === vm.profileDisplay.uid && !vm.profileEditMode'>
              <button ng-click="vm.profileEditBtnClicked()">This is your profile. Click here to edit it.</button>
            </div>

            <div ng-show="vm.profileEditMode">
              <md-button ng-click="vm.editProfileSubmitBtnClicked()">Save Profile Changes</md-button>
              <md-button ng-click="vm.editProfileCancelBtnClicked()">Cancel</md-button>

            </div>
            <br>

            <br>
            <div ng-show='vm.profileDisplay.authenticatedUid !== vm.profileDisplay.uid'>

              <p ng-show="vm.profileDisplay.isFollowedByCurrentLoggedInUser != true">
                <button ng-click="vm.followUserClicked(vm.profileDisplay)">Follow this user</button>

                Value of isFollowedBy: {{vm.profileDisplay.isFollowedByCurrentLoggedInUser}}
              </p>

              <p ng-show="vm.profileDisplay.isFollowedByCurrentLoggedInUser == true">
                You are following this user.
                <button ng-click="vm.unfollowUserClicked(vm.profileDisplay)">Unfollow</button>
              </p>

              <!--Value of isFollowedBy: {{vm.profileDisplay.isFollowedByCurrentLoggedInUser}}-->

            </div>

          </div>
        </div>


        <hr>

        <div ng-show="!vm.profileEditMode"><a href="{{vm.profileDisplay.githubLink}}">{{vm.profileDisplay.githubLink}}</a></div>
        <div ng-show="!vm.profileEditMode" ><a href="{{vm.profileDisplay.twitterLink}}">{{vm.profileDisplay.twitterLink}}</a></div>
        <div ng-show="!vm.profileEditMode" ><a href="{{vm.profileDisplay.linkedInLink}}">{{vm.profileDisplay.linkedInLink}}</a></div>
        <div ng-show="!vm.profileEditMode" ><a href="{{vm.profileDisplay.facebookLink}}">{{vm.profileDisplay.facebookLink}}</a></div>
        <div ng-show="!vm.profileEditMode" ><a href="{{vm.profileDisplay.personalLink}}">{{vm.profileDisplay.personalLink}}</a></div>

        <div ng-show="vm.profileEditMode">
          <input type=text ng-model='vm.editProfile.githubLink' ng-init='vm.editProfile.githubLink=vm.profileDisplay.githubLink'/>
        </div>
        <div ng-show="vm.profileEditMode">
          <input type=text ng-model='vm.editProfile.twitterLink' ng-init='vm.editProfile.twitterLink=vm.profileDisplay.twitterLink'/>
        </div>
        <div ng-show="vm.profileEditMode">
          <input type=text ng-model='vm.editProfile.linkedInLink' ng-init='vm.editProfile.linkedInLink=vm.profileDisplay.linkedInLink'/>
        </div>
        <div ng-show="vm.profileEditMode">
          <input type=text ng-model='vm.editProfile.facebookLink' ng-init='vm.editProfile.facebookLink=vm.profileDisplay.facebookLink'/>
        </div>
        <div ng-show="vm.profileEditMode">
          <input type=text ng-model='vm.editProfile.personalLink' ng-init='vm.editProfile.personalLink=vm.profileDisplay.personalLink'/>
        </div>

      </div>

      <div class="all-members-section">
        <h2>All Members</h2>

        <div ng-repeat="(key, member) in vm.membersList" class="white-text">

          &nbsp; <a ui-sref="about-us({ userId: key})"><span ng-bind="member.firstName"></span>
          <span ng-bind="member.lastName"></span></a>

        </div>

      </div>
      <hr>
      <div class="make-an-account-text">
        If you would like be displayed on this page you can <a ui-sref="register">make an account for free here</a>.
      </div>


    </div>

  </md-content>
</div>
