

.about-us {
  padding-left:40px;
  padding-right:40px;
  padding-top: 80px;
  background-color: rgba(12, 78, 178, 1);
  color:#E6E6E6;
}

.about-us-header {
  padding-left:25px;
}

.profile-card {
  background-color: white;
  color: rgba(12, 78, 178, 1);
  border-radius: 5px;
  padding:5px;
  margin: 10px;
  margin-left: 10px;
  margin-right: 50px;
  max-width: 600px;
}

.all-members-section {
  padding-top:50px;
  background-color: rgba(12, 78, 178, 1);
  color: white;
  padding-bottom:40px;
  padding-left:25px;
  padding-right:25px;
}

.make-an-account-text {
  font-size:13px;
  font-style:italic;
  text-align: center;
  padding-bottom: 20px;
}

.video-container {
  background-color: rgba(12, 78, 178, 1);
  color:#E6E6E6;
}

.card {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding:5px;
  margin: 10px;
  max-width: 350px;
}

.card-header {
  color: #0C4EB2;
}

.card-container {
  padding: 13px;
  justify-content: center;
  text-align: center;
}

.card-text {
  color: dimgrey;
  padding-bottom: 20px;
}

.blue-jumbo-about-us {
  background-color: rgba(12, 78, 178, 1);
  justify-content: center;
  max-height: 500px;
  text-align: center;
  padding-top:0px;
  padding-bottom:0px;
}

.smaller-width-header-text {
  max-width: 500px;
  text-align: center;
  justify-content: center;
  display: inline-block;
}
