.event-section {
  //text-align: left;
  background-color: white;
  border-radius: 10px;
  color: rgba(12, 78, 178, 1);
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:30px;
  margin-top: 20px;
  //margin-left: 15px;
  //margin-right: 15px;
  //
  //margin-top:150px;
  //margin-bottom:20px;
}

//.extra-padding-top-events {
//  margin-top: 130px;
//  padding-top: 30px;
//}

.frame-padding {
  margin-top:15px;
  padding-bottom: 15px;
}

.events-page{
  padding-top:110px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
  background-color:rgba(12, 78, 178, 1);
}

.header-text-events {
  padding-left: 40px;
  text-align:center;
}
